html {
  line-height: 1.15; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

body {
  margin: 5em;
}

h1 {
  font-size: 3em;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}

li {
  color: mediumorchid;
  line-height: 1.7em;
  background-color: #D3D3D3;
}

a{
  color: mediumorchid;
  text-decoration: none;
}


